{% extends 'base_layout.html' %}

{% block body %}
<div class="mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="touch">
                <div class="card text-left bg-light">
                    <div class="card-body">
                        <h5 class="text-center"> </h5>

                        <div class="container">

                            <div class="row">
                              <div class="col-12 ">

                                    <div class="some">
                                        <div class=" text-center ">

                                            <img src="https://supreme.swu.ac.th/file_staff_upload/file_student_pic/2562_1/62102010176.jpg" class="image w-25 h-40"
                                              alt="Responsive image">
                                              <br>
                                              <br>
                                              นายพรทวี คชาวุธากร 62102010176
                                          </div>
                                    </div>
                              </div>
                                    
                           
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}